body {
    margin: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #fef6e4;
}

.chat-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #2b3a67;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-right: 5px solid #1e2b4a;
}

a {
    text-decoration: none;
    color: white;
}


.menu {
    flex-grow: 1;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    cursor: pointer;
}

.menu-item:hover {
    color: #ff69b4;
    transform: scale(1.1);
    transition: color 0.3s ease, transform 0.3s ease;
}

.menu-item:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #47568c;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sub-menu-item {
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

.sub-menu-item:hover {
    color: #ff69b4;
}

.separator {
    border-top: 1px solid #ff69b4;
    margin: 20px 0;
}

.contacts {
    margin-bottom: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 16px;
    cursor: pointer;
}

.contact-item img {
    width: 35px;
    /* Tamaño más grande de la imagen */
    height: 35px;
    /* Tamaño más grande de la imagen */
    border-radius: 50%;
    margin-right: 10px;
}

.contact-item:hover {
    color: #ff69b4;
    transform: scale(1.1);
    transition: color 0.3s ease, transform 0.3s ease;
}

#logout {
    margin-top: auto;
}

.chat-content {
    flex-grow: 1;
    background-color: #f4f5fa;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Menu derecho*/

.right-button {
    background-color: #2b3a67;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: white;
    text-align: left;
    margin-right: 30px;
}

.right-button:hover {
    transform: scale(1.1);
    background-color: #47568c;
    transition: color 0.3s ease, transform 0.3s ease;
}

.material-symbols-outlined {

    font-variation-settings:
        'FILL' 10,
        'wght' 400,
        'GRAD' 0,
        'opsz' 10;

}

.icon2 {
    height: 100px;
    font-size: 100px;
}

.right-menu {
    display: none;
    width: 350px;
    height: 100%;
    background-color: #47568c;
    margin: 0;
}

.right-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b3a67;
    height: 100px;
    color: white;
    text-align: center;
}

.search-bar {
    margin-top: 20px;
    display: block;
    text-align: center;
}

.search-results {
    display: block;
    text-align: center;
}

.search-results img {
    width: 35px;
    /* Tamaño más grande de la imagen */
    height: 35px;
    /* Tamaño más grande de la imagen */
    border-radius: 50%;
    margin-right: 10px;
}

.s_result {
    margin-top: 5px;
    background-color: rgb(214, 214, 214);
    border: 2px solid #47568c;
    border-radius: 10px;
    height: 50px;
    width: 90%;
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    padding-left: 10px;
    cursor: pointer;
}

.s_result:hover {
    background-color: rgb(174, 174, 174);
}

.chat-header {
    background-color: #47568c;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.search-bar input {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #47568c;
    width: 300px;
    font-size: 16px;
}

.chat-messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

.message-container {
    margin-bottom: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
}

.message-username {
    font-weight: bold;
    font-size: 14px;
    color: #47568c;
    margin-bottom: 5px;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 20px;
    max-width: 70%;
    font-size: 16px;
    line-height: 1.5;
}

.received {
    background-color: #f1f1f1;
    margin-right: auto;
}

.sent {
    background-color: #ff69b4;
    color: white;
    margin-left: auto;
}

.chat-input {
    display: flex;
    padding: 10px;
    background-color: #e1e1e1;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #47568c;
    font-size: 16px;
}

.chat-input button {
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: #47568c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chat-input button:hover {
    background-color: #ff69b4;
}

.emoji-picker {
    display: none;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.emoji {
    cursor: pointer;
    font-size: 20px;
    margin: 5px;
}

.header-icon {
    width: 40px;
    /* Tamaño más grande de la imagen */
    height: 40px;
    /* Tamaño más grande de la imagen */
    border-radius: 50%;
    margin-right: 10px;
}

.message-icon {
    width: 35px;
    /* Tamaño más grande de la imagen */
    height: 35px;
    /* Tamaño más grande de la imagen */
    border-radius: 50%;
    margin-right: 10px;
}

.chat-title {
    display: flex;
    align-items: center;
}