body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 130px;
    height: 100%;
    background-color: #58a6ff;
    color: white;
    padding: 20px;
}

#sidebar h3 {
    margin: 0 0 20px 0;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    margin: 25px 0;
}

#sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

#sidebar ul li a:hover {
    background-color: #2b3a67;
}

#main-content {
    margin-right: 20px;
    padding: 20px;
}

#header {
    display: flex;
    align-items: center;
    background-color: #2b3a67;
    color: white;
    padding: 15px;
    position: fixed;
    width: calc(100% - 220px);
    top: 0;
}

#header h1 {
    margin: 0;
    margin-right: 1250px;
}

#message-container {
    margin-top: 70px;
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 10px;
}

.message {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message p {
    margin: 0;
}

#email-popup, #subgroup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
    width: 300px;
}

#email-popup form, #subgroup-form form {
    display: flex;
    flex-direction: column;
}

#email-popup textarea, #subgroup-form input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px;
    background-color: #2b3a67;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #58a6ff;
}

#miembros-list {
    list-style-type: none;
    padding: 0;
}

#miembros-list li {
    background-color: #f1f1f1;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
