body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #whitesmoke;
}

#header {
    background-color: #2b3a67;
    color: white;
    padding: 10px 0;
    text-align: center;
}

#main {
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.notificacion {
    background-color: white;
    border-left: 5px solid #58a6ff;
    border-radius: 18px;
    padding: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin: 0;
    color: #58a6ff;
}

p {
    margin: 5px 0;
}

.hora {
    font-size: 0.9em;
    color: gray;
}
