body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: #333;
}

#header {
    background-color: #2b3a67;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 42px;
}

#profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    padding: 40px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 52px rgba(0, 0, 0, 0.2);
}


img {
    margin-right: 200px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}


#profile-info {
    font-size: 22px;
}


#profile-info h2 {
    color: #58a6ff;
    font-size: 52px;
}