body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

h1 {
    background-color: #2b3a67;
    color: white;
    padding: 10px 0;
    text-align: center;
}

#main {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}


.desafios {
    background-color: white;
    padding: 20px;
    width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 35px;
}

h2 {
    text-align: center;
    color: #58a6ff;
}

.cuadro {
    border: 7px solid #58a6ff;
    border-radius: 57px;
    text-align: center;
}

#meta {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 12px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
